 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .contianer-form-center{
        width: 100%;
        
    }
    .view-items{
 
        flex-direction: column;
      
      }
      .product-grid{

        margin: 10px 0px; 
    }
  
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .contianer-form-center{
        width: 90%;
    }
  
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .contianer-form-center{
        width: 70%;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .contianer-form-center{
        width: 50%;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .contianer-form-center{
        width: 50%;
    }
 } 