.div1{
    position: relative;
    background-color: dodgerblue;
    color: white;
    padding: 100px;
    width: 100%;
}
.div2{
    background-color: slateblue;
    color: white;
    padding: 100px;
    width: 100%;
}